.c-label{
  color: #247e6c;
  font-size: 1.4em;
}

.m-c-list{
  list-style: none;
}

.area-head{
  font-size: 1.35em;
  background: #F4F1EA;
  color: #382110;
}

.c-name{
  font-size: 1.2em;
}
